*{
	padding: 0px;
	margin: 0px;
	font-family: Courier new;
	font-weight: bold;
}
body{
	height: 100%;
	background: #95a5a6;
}
.chat-box{
	position: absolute;
	bottom: 0px;
	background: black;
	height: 100%;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}

.chat-body{
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat-text{
	position: fixed;
	bottom: 0px;
	height: 45px;
	width: inherit;
}
.chat-text textarea{
	width: 100%;
	height: inherit;
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	padding: 10px;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.msg-send{
	background: white;
}
.msg-receive{
	background: #3498db;
}
.msg-send, .msg-receive{
	width: 700px;
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: black;
	float: right;
	margin-right: 30px;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 7px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent white;
	right: -29px;
	top: 7px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}

#warna {
	float: left;
	margin-left: 100px;
	font-size: 50px;
 	background-color: white;
 	margin-top: 200px
}
