*{
   margin: 0px;
}


body{
  background-image: url('../assets/daun.png');
}

#login{
  padding: 30px;
  background-color: #53bd84;
  color: white;
  width: 350px;
  font-family: Courier new;
  border-radius: 15px;
  margin-top: 200px;
  margin-left: 450px;
}

#footer{
    text-align: center;
    width: 100%;
    line-height: 40px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
}
